<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="caja">
                <div class="titulo">
                    <a class="navbar-brand" href="/">Tu Hospedaje <span class="verde">Delta.</span></a>
                </div>
                
                <div class="nav-menu">
                    <i class="fas fa-bars icono navbar-toggler boton-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    </i>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/puerto-gallo">Puerto Gallo</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/chana">Chana</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/timbu" tabindex="-1" aria-disabled="true">Timbu</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </nav>
</header>